html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter Variable', sans-serif;
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

:root {
  --color-primary-fg: #393939;
  --color-primary-bg: #BBFB35;
  
  --color-element-fg: #dedede;
  --color-element-bg: #393939;
}


.jack-title {
  margin-top: 5px;
	font-size: 14px;
	font-weight: 600;
	font-family: sans-serif;
}

/**
* Sottotitolo di una sezione
*/
.jack-subtitle {
	font-size: 12px;
	font-weight: 400;
	opacity: .8;
}
