.root {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    flex-shrink: 0;
    font-size: 14px;
    user-select: none;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
