.root {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 5px;
}

.root:focus {
	outline: none;
}
:global(.jack-framework-focus-ctrl) .root:focus {
	outline: 2px solid var(--cmp-focus);
}

.root:not(.select):hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.root.select {
	color: var(--cmp-select-fg);
	background-color: var(--cmp-select-bg);
}

.label {
	display: flex;
	flex: 1;
	min-width: 0;
	flex-direction: column;
	padding: 5px 0;
}

.label .title {
	font-size: 14px;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.label .subtitle {
	font-size: 12px;
	font-weight: 400;
	opacity: 0.9;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}