
.root {
	margin: 5px 0px;
	font-weight: 300;
	font-size: 13px;
	color: #ebebeb;
}

.root.focus {
	background-color: rgba(0, 0, 0, 0.4);
}

.root.focus:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.root.chapter {
	font-weight: 800;
	font-size: 18px;
}