.root {
	display: flex;
}

/** quando c'e' un drag over */
.drag:hover {
	outline: 2px solid var(--cmp-select-bg);
}

.grip {
	width: 20px;
	margin-right: 5px;
}

/** elemento di tipo "system" */
.grip.system {
	background-color: red
}

/** elemento di tipo "user" */
.grip.user {
	background-color: blue
}

/** elemento di tipo "tool" */
.grip.tool {
	background-color: yellow
}